@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import "tailwindcss";
@import "tailwindcss-animated";

@theme {
  --font-fancy: "Limelight", serif;
  --font-regular: "Sansation", sans-serif;
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
}
